<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
      <!-- This is my projects list-->
      <p> The first project is a C++ project. This projects adds a number of days to the current date <br> 
      and displays the correct date</p>
      <img src="Assets\images\date .png" width="50%" height="50%">

      <p> This second Project is on java. It create a Singer object and using different methods I can <br> I can set
      and call different attributes of the object </p>

      <img src="Assets\images\java project.png" width="50%" height="50%">

      <p> This third project was also made on C++. This program shows two dog owners. The user types the name of the <br> dog owner
        and than the program displays all the dogs that person owns and their traits.</p>

      <img src="Assets\images\pet lab.png" width="50%" height="50%">
    </div>
  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  